<!-- Esta pantalla simula un kiosko donde un cliente llega e imprime su turno -->
<div class="container">
    <table>
        <tr>
            <td>
            
                <span id="lblNuevoTicket">
                    Cargando...
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <!-- TODO: No dejar generar nuevo ticket hasta que se haya detectado que 
                un escritorio ha ingresado para esperar tickets -->
                <button class="btn btn-secondary btn-lg">
                    Generar nuevo ticket
                </button>
            </td>
        </tr>
    </table>
</div>