<!-- Esta pantalla simula un kiosko donde un cliente llega e imprime su turno -->
<div class="container">
    <table>
        <tr>
            <td>
            <!-- TODO 01:  Al entrar aquí debe hacer una peticion al backend para 
            saber si hay escritorios activos. De lo contrario permanecer asi y escuchar
            el socket hasta que un entre -->
                <span id="lblNuevoTicket">
                    Cargando...
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <!-- TODO: No dejar generar nuevo ticket hasta que se haya detectado que 
                un escritorio ha ingresado para esperar tickets -->
                <button class="btn btn-secondary btn-lg">
                    Generar nuevo ticket
                </button>
            </td>
        </tr>
    </table>
</div>