<!-- Esta pantalla simula un kiosko donde un cliente llega e imprime su turno -->
<div class="container">
    <table>
        <tr>
            <td>
            <!-- Al entrar aquí debe hacer una peticion al backend para 
            saber si hay escritorios activos. De lo contrario permanecer asi y escuchar
            el socket hasta que un entre -->
                <span id="lblNuevoTicket">
                    {{ tickets.length === 0 ? 'Espere' : tickets[tickets.length - 1].numero }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <!-- No deja generar nuevo ticket hasta que se haya detectado que 
                un escritorio ha ingresado para esperar tickets -->
                <button class="btn btn-secondary btn-lg" (click)="crearTicket()"
                 *ngIf="escritorios.length > 0">
                    Generar nuevo ticket
                </button>
            </td>
        </tr>
    </table>
</div>